<!-- Header -->
<header style="background-image:url('{{ petition.image[0].fileName }}')">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
              <span class="glyphicon glyphicon-map-marker" />
              {{ petition.location.city }}
            </div>
            <div class="intro-heading">{{ petition.name }}</div>
            <a href="#sign" data-toggle="modal" class="page-scroll btn btn-xl" ng-hide="paymentMade || petition.signatures.success">Sign The Petition</a>
            <a class="page-scroll btn btn-xl" ng-show="paymentMade" disabled>You Signed This Petition</a>
            <div class="alert alert-success" ng-show="petition.signatures.success" role="alert">This petition gained necessary support. Thankyou!</div>
        </div>
    </div>
</header>
<section id="team" class="bg-light-gray" style="padding:30px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-12">
            <h2 style="">{{ petition.name }}</h2>
            <p class="">{{ petition.longDescription }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-lg-offset-1">
        <div class="row">
          <div class="col-12">
            <div class="petition-signatures">
            <h4>Signature Progress</h4>
            <progressbar class="progress-striped active" animate="true" max="100" value="petition.signatures.amt" type="{{petition.signatures.success ? 'success' : 'danger'}}"><i><span count-to="{{petition.signatures.amt}}" duration="1" count-from="{{0}}"></span>{{petition.signatures.amt}}%</i></progressbar>
        </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
          <div ng-class="{'grayedOut': !petition.signatures.success}" class="petition-funding">
            <h4>Funding Progress</h4>
            <progressbar class="progress-striped active" animate="true" max="100" value="petition.funding.amt" type="{{petition.funding.success ? 'success' : 'danger'}}"><i><span count-to="{{petition.funding.amt}}" duration="1" count-from="{{0}}"></span>{{petition.funding.amt}}%</i></progressbar>
        </div>
          </div>
        </div>
            <div class="row">
          <div class="col-12">
            <a href="#sign" class="page-scroll btn btn-xl" data-toggle="modal" ng-hide="paymentMade || petition.signatures.success">Sign The Petition</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-12">
      <h2 style="padding-bottom:10px;">Risks & Challenges</h2>
        <p>Projects on Civic Starter are community-driven. This means that when a project petition meets it signature and funding goals, we work with local government liaisons get the project green lighted and underway as soon as possible. Due to the differences in how each municipality works, Civic Starter's efforts to pushes your project to the front of the line may be met with locality-specific challenges such as complying with ordinances, zoning code regulations, and other laws.</p>
      </div></div></div></div>
    </div>
</section>

<section id="backers" class="bg-darkest-gray" style="padding:30px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 style="padding-bottom:30px;color:white">Signers ({{ petition.signedBy.length }})</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1" ng-repeat="signer in petition.signedBy">
        <div class="team-member" data-toggle="tooltip" data-placement="top" title="{{ signer.userDetail.nameFirst }} {{ signer.userDetail.nameLast }}">
            <img src="{{ signer.userDetail.profileImage }}" class="img-responsive img-circle" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Timeline Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Timeline</h2>
                <h3 class="section-subheading text-muted">Petition History So Far</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2012</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="sign" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-offset-3">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>{{ petition.name }}</h2>
                        <p class="item-intro text-muted">{{ petition.description }}</p>

                        <div class="row">
                          <div class="col-lg-12">
                              <form role="form" ng-hide="paymentMade">
                                  <div class="form-group">
                                      <label>Cardholder's Name</label>
                                      <input type="text" class="form-control" value="{{ getCurrentUser().name }}">
                                  </div>
                                  <div class="form-group">
                                      <label>Billing Address</label>
                                      <input type="text" class="form-control" value="150 Granby ST, Norfolk, VA 23510">
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                        <label>Card Number </label>
                                        <input type="text" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx" value="8419-1237-1238-1238">
                                      </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>CVC</label>
                                            <div class="input-group">
                                              <a href="#" class="input-group-addon">
                                                <i class="fa fa-credit-card"></i>
                                              </a>
                                              <input type="text" class="form-control" placeholder="Ex. 331" value="420">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Expiration</label>
                                            <input type="text" class="form-control" placeholder="MM-YYYY" value="12-2018" />
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <i class="fa fa-cc-visa fa-2x"></i>
                                      <i class="fa fa-cc-mastercard fa-2x"></i>
                                      <i class="fa fa-cc-amex fa-2x"></i>
                                      <i class="fa fa-cc-discover fa-2x"></i>
                                    </div>
                                  </div>
                                  <div class="row" style="margin:25px">
                                    <div class="col-lg-4 col-lg-offset-4">
                                      <button type="submit" class="btn btn-primary" style="width:200px" ng-click="submitPayment()">Pay Now</button>

                                    </div>
                                  </div>
                              </form>
                              <div ng-show="paymentMade" class="alert alert-success" role="alert">Petition Signed Successfully</div>
                          </div>

                        </div>
                        <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
