<!-- Header -->
<header style="background-image:url('http://i.imgur.com/L6OAEAa.jpg')">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
              <span class="glyphicon glyphicon-map-marker" />
              Coming soon to Hampton Roads
            </div>
            <div class="intro-heading" style="margin-bottom:20px">Civic Starter</div>
            <div class="row" style="margin-bottom:15px">
              <div class="col-md-8 col-md-offset-2" style="background-color:rgba(0,0,0,0.5)">
                <h4 class="text-primary">Civic Starter empowers us to fund, support and get government buy-in for community projects.</h4>
              </div>
            </div>
            <div class="row" style="margin-bottom:15px">
              <div class="col-md-6 col-md-offset-3">
                <form ng-show="notSubmitted">
                  <div class="input-group input-group-lg">
                    <input type="text" ng-class="{'has-error': notValid}" class="form-control" ng-model="email" placeholder="EMAIL ADDRESS">
                    <a href="#" ng-disabled="notValid" ng-click="registerNotify()"
                      class="input-group-addon page-scroll btn btn-xl" style="margin-bottom:30px">
                      Keep Me Notified
                    </a>
                  </div>

                </form>
                <div ng-hide="notSubmitted" style="padding:12px; margin-bottom:0px" class="alert alert-success">
                  Thanks for your intrest. We will follow up soon.
                </div>

              </div>
            </div>
            <!--
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                  <ul class="list-inline social-buttons">
                      <li>
                        <a class="large" href="#" style="background-color:rgb(59, 89, 152)"><i class="fa fa-2x fa-facebook" ></i></a>
                      </li>
                      <li>
                        <a class="large" href="#" style="background-color:rgb(85, 172, 238)"><i class="fa fa-2x fa-twitter"></i></a>
                      </li>
                      <li>
                        <a class="large" href="#" style="background-color:rgb(211,72,54)"><i class="fa fa-2x fa-google-plus"></i></a>
                      </li>
                  </ul>
              </div>
            </div>
          -->
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>How It Works</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-5x fa-green">
                    <i class="fa fa-circle fa-stack-2x fa-green"></i>
                    <i class="icon-signature2 fa-stack-1x fa-inverse">2</i>
                </span>
                <h4 class="service-heading">Support worthy civic projects</h4>
                <p class="text-muted">Get behind projects you care about. Sign community petitions and pledge funds towards initiatives that make a difference.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x fa-blue"></i>
                    <i class="icon-white59 fa-stack-1x fa-inverse">3</i>
                </span>
                <h4 class="service-heading">Enable government action</h4>
                <p class="text-muted">Connects directly with representatives in local government so your project ideas have the buy-in they need to succeed.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x fa-yellow"></i>
                    <i class="icon-worker5 fa-stack-1x fa-inverse">4</i>
                </span>
                <h4 class="service-heading">Gain committed volunteers</h4>
                <p class="text-muted">Access management tools to mobilize supporters who pledged time, energy and funds.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x fa-red"></i>
                    <i class="icon-banknotes fa-stack-1x fa-inverse">1</i>
                </span>
                <h4 class="service-heading">Encourage community and economic development</h4>
                <p class="text-muted">Supported projects have the potential to create new opportunities for local employment and truly meaningful volunteer work.</p>
            </div>
        </div>
    </div>
</section>
