<div ng-include="'components/navbar/navbar.html'"></div>


<!-- Header -->
<header>
    <div class="slider" ng-controller="CarouselCtrl">
        <carousel interval="myInterval">
            <slide style="background: #000;" ng-repeat="slide in slides" active="slide.active">
                <a href="/petition/{{slide.id}}">
                <img style="opacity: .6 ;" src="{{slide.image}}">
                <div class="carousel-caption">
                    <p class="slide-category">{{slide.category}}</p>
                    <h4 class="slide-title">{{slide.title}}</h4>
                    <p class="slide-description">{{slide.description}}</p>
                    <p class="slide-location">{{slide.location}}</p>
                </div>
                </a>
            </slide>
        </carousel>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>How It Works</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-5x fa-green">
                    <i class="fa fa-circle fa-stack-2x fa-green"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Encourages volunteerism and even create jobs</h4>
                <p class="text-muted">Projects that require volunteer hours can collect pledges on the project profile page.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x fa-blue"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Enable local governments to take action</h4>
                <p class="text-muted">Civicstarter has relationships with local governments and media outlets to not only get the word out, but also move larger projects through the legislation process.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x fa-yellow"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Projects are funded by the people of a community</h4>
                <p class="text-muted">Once projects collect the necessary number of signatures the project is eligible for funding. The power is now in the hands of the community members.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x fa-red"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Gain support through petition signatures</h4>
                <p class="text-muted">Users create petitions to start projects or purchase resources for their community. A determined number of signatures is necessary to move a project forward.</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Latest Projects</h2>
                <h5 class="section-subheading text-muted" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            </div>
        </div>
        <div class="row" ng-controller="CarouselCtrl">
            <div ng-repeat="slide in slides" class="col-md-4 col-sm-6 portfolio-item">
                <a href="/petition/{{slide.id}}#page-top" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img ng-src="{{slide.image}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{slide.title}}</h4>
                    <p>{{slide.description}}</p>
                    <div class="petition-signatures">
                        <h5>Signature Progress</h5>
                        <progressbar class="progress-striped active" animate="true" max="100" value="slide.signatures" type="success"><i><span count-to="{{slide.signatures}}" duration="1" count-from="{{0}}"></span>{{slide.signatures}}%</i></progressbar>
                    </div>
                    <div ng-class="{'grayedOut': !slide.signaturesMet}" class="petition-funding">
                        <h5>Funding Progress</h5>
                        <progressbar class="progress-striped active" animate="true" max="100" value="slide.funding" type="success"><i><span count-to="{{slide.funding}}" duration="1" count-from="{{0}}"></span>{{slide.funding}}%</i></progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
